.vunerablePageSection,
.vunerablePageSection>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

textarea {
    width: 500px;
    height: 300px;
    padding: 10px;
}

/* Calculatrice */

.calculatorContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculator-interface {
    padding: 20px 10px;
    background-color: rgb(0, 194, 194);
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 20px;
    border-radius: 10px;
}

#display {
    width: 218px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 6px;
}

.container-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.row {
    display: flex;
    /* gap: 20px; */
    text-align: center;
}

.btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.btn-C {
    background-color: rgb(255, 111, 0);
    
}

.btnZero {
    grid-column: span 2;
}

.btn-enter {
    grid-row: span 2;
}

/* EXO 2 */

.exo3Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exo3 {
    width: 110px;
    padding: 5px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.red {
    background-color: red;
    color: white;
    width: 50px;
}

.green {
    background-color: green;
    color: white;
    width: 50px;
}