.vunerablePageSection,
.vunerablePageSection>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

textarea {
    width: 500px;
    height: 300px;
    padding: 10px;
}